
html {
    background-repeat: no-repeat;
    background-position: top right;
}

body{
    margin: 0;
}

/* All-around uses */
.rubik-font {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: rgb(14,94,140);
    text-align: center;
}

p {
    font-family: 'Work Sans', sans-serif;
    color: rgb(51,51,51);
    word-break: break-word;
}

hr {
    width: 10%;
}

.bold {
    font-weight: bold;
}

/* =========================== */

/* Header */
.title-background-wrapper {
    padding: 0 0 5em 0;
    background-image:linear-gradient(to bottom right, rgba(21,138,208, 1), rgba(21,138,208, 0.8), rgba(21,138,208, 0.5), rgba(21,138,208, 0.4));

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

header{
    margin-top: 5em;
}

.title {
    margin: 3em auto;
    text-align: center;
}

.text-wrapper {
    padding: 20px 0
}

.name {
    font-family: 'Rubik', sans-serif;
    /* font-size: 40px; */
    margin: 5px;
    color: white
}

.headline {
    margin: 10px 0;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 5px 8px;
    color: white;
    font-size: 18px;
    transition: transform .1s;
}

li:hover {
    transform: scale(1.1);
    
}

li:active{
    color: lightgrey;
}

.bio-section {
    max-width: 900px;
    margin: 0 auto;
}

.bio-wrapper{
    text-align: center;
}

.badge {
    text-align: center;
}

/* ====================== */

/* Project Section */
.tech-used {
    font-weight: bold;
    color: rgb(21,138,208)
}

section {
    margin: 50px 0px
}

.image-section{
    max-width: 900px;
    margin: 0 auto;
    transition: transform .1s;
}

.image-section:hover {
    transform: scale(1.02)
}

img {
    width: 100%;
}

.desc-section{
    max-width: 900px;  
    margin: 2px auto; 
}

.desc-section > h1 {
    text-align: center;
}

.desc-wrapper {
    padding: 25px 0px;
    text-align: center;
}

.map-location {
    background-image: url('./img/map-location.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.invit-ims{
    background-image: url('./img/invit-ims.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.coteam-img {
    background-image: url('./img/group.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.white {
    color: white;
}

.github-link {
    text-decoration: none;
}

.github-link > p{
    color: rgb(21,138,208);
    transition: transform .1s;
}

.github-link > p:hover {
    transform: scale(1.04);
}
/* ================== */

/* Contact Form */
.contact-background-wrapper {
    padding: 25px 0 0 0;
    background-image:linear-gradient(to bottom right, rgba(21,138,208, 1), rgba(21,138,208, 0.8), rgba(21,138,208, 0.5), rgba(21,138,208, 0.4));
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.contact-form{
    text-align: center;
    margin: 5px auto;
}
/* ========================= */

/* Footer */

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(51, 51,51);
    text-align: center;
}

footer > p {
    font-size: 14px;
    padding-top: 15px;
    color: white;
}




