
html {
    background-repeat: no-repeat;
    background-position: top right;
}

body{
    margin: 0;
}

/* All-around uses */
.rubik-font {
    font-family: 'Rubik', sans-serif;
}

.sub-heading, .project-heading, h3 {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    color: rgb(14,94,140);
    text-align: center;
}

p, dt, dd {
    font-family: 'Work Sans', sans-serif;
    word-break: break-word;
    font-size: 14px;
    word-spacing: 1px;
}

p {
    color: rgb(51,51,51);
}

hr {
    width: 10%;
}

.bold {
    font-weight: bold;
}

button {
    width: 200px;
    border-radius: 4px;
    transition: transform .4s;
}

button:hover {
    transform: scale(1.04);
}

a {
    text-decoration: none; 
    cursor: pointer;
}

/* =========================== */

/* Header */
.title-background-wrapper {
    padding: 2em 0 30em 0;
    background-position: center;
    background-image: url("./img/code-wallpaper.jpg");
    /* background-image:linear-gradient(to bottom right, rgba(35,35,35, 0.5), rgba(35,35,35, 0.4), rgba(35,35,35, 0.2), rgba(35,35,35, 0.05)); */

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

header{
    margin-top: 5em;
}

.title {
    margin: 3em auto;
    text-align: center;
}

.text-wrapper {
    padding: 20px 0
}

.name {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: 5px;
    color: white
}

.headline {
    margin: 10px 0;
    color: white;
    font-size: 55px;
}

.hire-button{
    border: black;
    position: relative;
}

.arrow-point-to-right{
    width: 13px;
    margin-left: 4px;
    position: relative;
    top: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 5px 8px;
    color: white;
    font-size: 14px;
    transition: transform .4s;
}

li:hover {
    transform: scale(1.1);
    
}

li:active{
    color: lightgrey;
}

.bio-section {
    max-width: 700px;
    margin: 0 auto;
}

.bio-wrapper{
    text-align: justify;
    margin: 10px auto 50px auto;
}

.badge {
    text-align: center;
}

.personal-info-section{
    display: flex;
}

.skills-section {
    margin: 0px 20px
}

dl {
    margin-bottom: 20px;
}

dt {
    color: rgb(51, 51,51);
    margin-bottom: 3px;
}

dd {
    margin-left: 0px;
    color: rgba(51,51,51,0.7);
    margin-bottom: 15px;
}

/* ====================== */

/* Project Section */
.tech-used {
    font-weight: bold;
    color: rgb(21,138,208)
}

section {
    margin: 50px 0px;
    display: flex;
    max-width: 1100px;
    /* border: 1px solid #f7f6f5; */
    /* background-color: #f7f6f5; */
}

.image-laptop-section, .image-mobile-section {
    transition: transform .4s;
}

.image-laptop-section:hover, .image-mobile-section:hover {
    transform: scale(1.01)
}

.image-laptop-section {
    flex: 0.7
}

.image-mobile-section {
    flex: 0.3
}


img {
    width: 100%;
}

.mobile-ui {
    width: 240px;
    height: 440px;
}

.desc-section{
    padding: 5px;
    border: 2px solid rgb(21,138,208);
    border-radius: 5px;
    max-width: 500px;
    margin: 0px auto;

}

.desc-wrapper > h1 {
    text-align: center;
    margin: 5px;
}

.desc-wrapper {
    padding: 5px 0px;
    text-align: center;
}

.map-location {
    background-image: url('./img/map-location.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.invit-ims{
    background-image: url('./img/invit-ims.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.coteam-img {
    background-image: url('./img/group.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.white {
    color: white;
}

.github-link-button, .hire-button{
    background-color: rgb(219, 138, 16);
    cursor: pointer;
}


button > p {
    color: white;
}


/* ================== */

/* Contact Form */
.contact-background-wrapper {
    padding: 25px 0 0 0;
    background-color: rgb(51, 51,51);
    /* background-image:linear-gradient(to bottom right, rgba(21,138,208, 1), rgba(21,138,208, 0.8), rgba(21,138,208, 0.5), rgba(21,138,208, 0.4)); */
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.contact-form{
    text-align: center;
    margin: 100px auto;
    padding: 100px;
}

.email-link {
    text-decoration: underline;
}

/* ========================= */

/* Footer */

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(51, 51,51);
    text-align: center;
}

footer > p {
    font-size: 14px;
    padding-top: 15px;
    color: white;
}



